==
<div class="row">
    <div class="col-md-offset-2 col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Seite in Arbeit</h3>
            </div>
            <div class="panel-body">
                <img class="img-center" width="196" height="196"  src="{{ 'union.png'|media }}">
                <p class="text-center">Diese Webseite ist noch im Aufbau, ich bitte um dein Verständnis.</p>
            </div>
            <div class="panel-footer">

            </div>
        </div>
    </div>
</div>